<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="jimdo.gladsoft.anno2016.java.waterquest"
          android:versionCode="01"
          android:versionName="@string/VersionName"
          android:installLocation="auto">
    <uses-sdk android:minSdkVersion="16" android:targetSdkVersion="22"/>
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:allowBackup="true">
        <activity android:name=".android.quests.MCQActivity" android:label="@string/mcquest"
                  android:screenOrientation="sensorPortrait"/>
        <activity android:name=".android.quests.EstQActivity" android:label="@string/estquest"
                  android:screenOrientation="sensorPortrait"/>
        <activity android:name=".android.QuizEndActivity"
                  android:screenOrientation="sensorPortrait"/>
        <activity android:name=".android.QuizRun"
                  android:screenOrientation="sensorPortrait"/>
        <activity android:name=".android.MainActivity" android:label="@string/app_name"
                  android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".android.InstructActivity" android:theme="@android:style/Theme.Dialog"
                  android:screenOrientation="sensorPortrait"/>
        <activity android:name=".android.quests.AnswerDescActivity" android:theme="@android:style/Theme.Dialog"
                  android:screenOrientation="sensorPortrait"/>
        <activity android:name=".android.CreditsActivity"
                  android:screenOrientation="sensorPortrait"/>
		<activity android:name=".android.quests.GenericQuestActivity"/>
	</application>
</manifest>
